@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C4D7B2;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color:  #146C94;
  color: black;
  cursor: pointer;
  border-radius: 5px;
font-family: 'Segoe UI', sans-serif;
}
 input[type="submit"]:hover {
 background-color: #9384D1;
 }

.error {
  color: black;
  margin-top: 10px;
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.close {
  float: right;
  cursor: pointer;
}
h2 {
  text-align: center;
}
.sedan-regular {
font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  font-style: normal;
}
